@keyframes randomGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .shimmer {
    background: linear-gradient(
      135deg, /* Angle for bottom right to top left */
      black, /* Start color at bottom right */
      #201429, /* Dark Blue */
      #111c36, /* Dark Blue */
      #0a1f19 /* Dark Green */
    );
    background-size: 600% 600%;
    animation: randomGradient 15s ease infinite;
  }
  
  .snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: hidden; /* Prevent direct scrolling */
  }
  
  .snap-start {
    scroll-snap-align: start;
  }

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
}
